<footer class="site-footer h-card">
  <data class="u-url" href="{{ "
  /" | relative_url }}"></data>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>

      </div>
      <div class="col">

        <address>서울특별시 영등포구 문래북로 116 (문래동 3가, 트리플렉스) 804호 <br>
          © Heenam Co., Ltd. All right reserved.

          <div class="small mt-2">사업자등록번호 113-86-32627 | 통신판매업 신고 2009-서울강남-00250</div>
        </address>

        <div class="footer-col one-half">
          <p>{{- site.description | escape -}}</p>
        </div>

        <div class="social-links">
          {%- include social.html -%}
        </div>
      </div>
    </div>
  </div>


</footer>
