<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<main class="page-content" aria-label="Content">

  <div class="visual-main mb-5">
    <div class="text-center pt-5">
      <h1 class="font-weight-light">CODEF 기술 블로그</h1>
      <p>Connect Everything 새로운 연결, 새로운 세상. <br>
        연결의 혁신으로 세상은 더욱 가깝고 새로워진다고 우리는 믿습니다.</p>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>
</main>

{%- include footer.html -%}

</body>

</html>
